<div class="entity__small">
  <h2 class="entity__small__name">
    <%= link_to discipline.name, controller: :discipline, action: :read, id: discipline.id %>
  </h2>
  <div class="entity__small__main">
    <div class="entity__small__main__text"><%= truncate discipline.description, length: 200 %></div>
  </div>

  <div class="entity__bar">
    <%= link_to options={controller: :discipline, action: :listMaterials, id: discipline.id},
        html_options={class:"entity__bar__element"} do %>
      <span class="entity__bar__element__icon">
        <span class="fa fa-download"></span>
      </span>
      <span class="entity__bar__element__text">
        Материалов <%= discipline.materials.count %>
      </span>
    <% end %>
    <%= link_to options={controller: :discipline, action: :listPublications, id: discipline.id},
        html_options={class:"entity__bar__element"} do %>
      <span class="entity__bar__element__icon">
        <span class="fa fa-file"></span>
      </span>
      <span class="entity__bar__element__text">
        Публикаций <%= discipline.articles.count %>
      </span>
    <% end %>
  </div>
</div>
