<div class="entity">

  <%= form_for :discipline, url: {action: :new}, method: 'POST',
        html:{class: 'entity__form'} do |form| %>
    <%= form.label :name,
        class:"entity__form__input-group__label" %>
    <%= form.text_field :name,
        class:"entity__form__input-group__control_string",
        value: "Discipline" %>

    <%= form.label :description,
        class:"entity__form__input-group__label" %>
    <%= form.text_area :description,
        class:"entity__form__input-group__control_string" %>

    <%= form.submit "Create discipline", class: 'button_ok' %>
  <% end %>

</div>
