<div class="entity">
  <h1 class="entity__title"><%= @discipline.name %></h1>
  <% if current_user.admin? %>
  <%= link_to 'Редактировать',
      {action: :update, id: @discipline.id}, class: 'button_control' %>
  <% end %>

  <div class="entity__content"><%= @discipline.description %></div>

  <h2 class="entity__section">Преподаватели</h2>
  <div class="discipline__info__lecturers">
    <div class="discipline__info__lecturers__person">
      <img class="discipline__info__lecturers__person__img"
        src="http://lorempixel.com/50/50/people/"/>
      <a class="discipline__info__lecturers__person__name">Иванов И.И.</a>
    </div>
  </div>

  <h2 class="entity__section">
    <%= link_to 'Материалы', action: :listMaterials %>
  </h2>
  <ul class="entity__list">
    <% @discipline.materials.each do |material| %>
    <li class="entity__list__material">
      <%= link_to material.title,
          {controller: :materials, action: :read}, id: material.id %>
    </li>
    <% end %>
  </ul>

  <h2 class="entity__section">
    <%= link_to 'Публикации', action: :listPublications %>
  </h2>
  <ul class="entity__list">
    <% @discipline.articles.each do |article| %>
    <li class="entity__list__material">
      <%= link_to article.title,
          {controller: :article, action: :read}, id: article.id %>
    </li>
    <% end %>
  </ul>

</div>
