<div class="entity">
<h1 class="entity__title">Schedule for group
  <%= link_to Group.first.title, {controller: :group, action: :view} %></h1>
<% if current_user.admin? %>
  <%= link_to 'Редактировать', {action: :update},
      {class: 'button_ok'} %>
<% end %>

<table class="schedule__timetable">
  <tbody>

    <% Lesson::WEEKDAY_NAMES[0..-2].each_with_index do |weekday_name, weekday_index| %>
      <tr class="schedule__timetable__weekday">
        <td colspan="2"><%= weekday_name %></td>
      </tr>

      <% Lesson::TIMES.each_with_index do |time, pair_index| %>

      <% current_row = @lessons[weekday_index][pair_index] %>

      <%= content_tag :tr, class: "schedule__timetable__timerow", data: {pair_wday: weekday_index, pair_time: pair_index} do %>
        <%= content_tag :td, class: "schedule__timetable__timerow__time", rowspan: current_row.class == Array ? 2 : 1 do %>
          <%= "%02d:%02d" % [time[:begin][:hour], time[:begin][:minute]] %><br/>
          <%= "%02d:%02d" % [time[:end][:hour], time[:end][:minute]] %>
        <% end %>
        <td class="schedule__timetable__timerow__pair">
          <%= display_lesson_for_row current_row %>
        </td>
      <% end %>

      <% if current_row.class == Array %>
      <tr class="schedule__timetable__timerow">
        <td class="schedule__timetable__timerow__pair">
          <%= display_lesson_for_row current_row, 1 %>
        </td>
      </tr>
      <% end %>
      <% end %>
    <% end %>

  </tbody>
</table>

</div>
