<div class="entity">

<h1 class="entity__title"><%= @article.title %></h1>

<% if current_user.admin? %>
  <%= link_to 'Редактировать',
      {action: :view_update, id: @article.id},
      class: 'button_ok' %>
  <%= link_to 'Удалить',
      {action: :delete, id: @article.id},
      class: 'button_red' %>
<% end %>

<div class="entity__content"><%= @article.contents %></div>

<%= render partial: 'bar', locals: {article: @article} %>

</div>
