<!-- Страница 1 -->

<div class="page page_A4page">

<div class="page__university">
  Московский государственный технический университет им. Н.Э. Баумана
</div>
<h1 class="page__title">
  Отчет о проведении смотра академической успеваемости в группе:
  <span class="page__title__group"><%= @group.title %></span>
</h1>

<% d = @report[:date].to_date %>
<time datetime="<%=d.iso8601%>" pubdate="pubdate" class="page__date">
  <% months = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'] %>
  от “<%= d.day %>” <%= months[d.month-1] %> <%= d.year %>г.
</time>

<div class="page__timebounds">
  Срок представления отчета декану факультета <b><%= @group.faculty %></b>: <u>&nbsp;&nbsp; <%= months[d.month-1]%> <%= d.year %> г.</u>
</div>

<ul class="page__stat">
  <li class="page__stat__item">Место и время проведения смотра: <%= @report[:aud] %> <%= @report[:time] %></li>
  <li class="page__stat__item">Количество студентов в группе: <%= @group.students.count %> чел. Отсутствовали: 0 чел.</li>
</ul>

<table class="page__table">
  <thead class="page__table__head">
    <tr class="page__table__head__row">
      <th class="page__table__head__row__col page__table__num">N<br/>п/п</th>
      <th class="page__table__head__row__col page__table__fam">Фамилия И.О.</th>
      <th class="page__table__head__row__col">Причина отсутствия</th>
    </tr>
  </thead>
  <tbody class="page__table__body">
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
  </tbody>
</table>

<ul class="page__stat">
  <li class="page__stat__item">Студенты, имеющие академические задолженности за предыдущий семестр:</li>
</ul>

<table class="page__table">
  <thead class="page__table__head">
    <tr class="page__table__head__row">
      <th class="page__table__head__row__col page__table__num">N<br/>п/п</th>
      <th class="page__table__head__row__col page__table__fam">Фамилия И.О.</th>
      <th class="page__table__head__row__col">Академические задолженности <span class="page__table__head__row__col__helper">(Дисциплина, кафедра, зачет/экзамен)</span></th>
    </tr>
  </thead>
  <tbody class="page__table__body">
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
  </tbody>
</table>

<ul class="page__stat">
  <li class="page__stat__item">Процент пропущенных студентами группы учебных занятий: _______% </li>
  <li class="page__stat__item">Процент выполнения учебного плана студентами группы: ________ %</li>
  <li class="page__stat__item">Студенты, рекомендуемые к поощрению: </li>
</ul>

<table class="page__table">
  <thead class="page__table__head">
    <tr class="page__table__head__row">
      <th class="page__table__head__row__col page__table__num">N<br/>п/п</th>
      <th class="page__table__head__row__col page__table__fam">Фамилия И.О.</th>
      <th class="page__table__head__row__col">Поощрение<span class="page__table__head__row__col__helper">(Благодарность по университету / факультету) </span></th>
      <th class="page__table__head__row__col">Основание для поощрения</th>
    </tr>
  </thead>
  <tbody class="page__table__body">
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
  </tbody>
</table>

<ul class="page__stat">
  <li class="page__stat__item">Студенты, рекомендуемые к взысканию: </li>
</ul>

<table class="page__table">
  <thead class="page__table__head">
    <tr class="page__table__head__row">
      <th class="page__table__head__row__col page__table__num">N<br/>п/п</th>
      <th class="page__table__head__row__col page__table__fam">Фамилия И.О.</th>
      <th class="page__table__head__row__col">Взыскание<span class="page__table__head__row__col__helper">(Выговор по университету / факультету) </span></th>
      <th class="page__table__head__row__col">Основание для взыскания</th>
    </tr>
  </thead>
  <tbody class="page__table__body">
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
  </tbody>
</table>

<ul class="page__stat">
  <li class="page__stat__item">Студенты, рекомендуемые к отчислению: </li>
</ul>

<table class="page__table">
  <thead class="page__table__head">
    <tr class="page__table__head__row">
      <th class="page__table__head__row__col page__table__num">N<br/>п/п</th>
      <th class="page__table__head__row__col page__table__fam">Фамилия И.О.</th>
      <th class="page__table__head__row__col">Основание для отчисления</th>
    </tr>
  </thead>
  <tbody class="page__table__body">
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
  </tbody>
</table>

<ul class="page__stat">
  <li class="page__stat__item">
    Замечания студентов по организации учебного процесса:
    <div class="page__stat__item__writing"></div>
    <div class="page__stat__item__writing"></div>
    <div class="page__stat__item__writing"></div>
  </li>
</ul>

<ul class="page__stat">
  <li class="page__stat__item">
    Дисциплины, по которым выполнение учебного графика студентами группы менее 50 % с указанием кафедры и Фамилии И.О. преподавателей:
    <div class="page__stat__item__writing"></div>
    <div class="page__stat__item__writing"></div>
    <div class="page__stat__item__writing"></div>
  </li>
</ul>

<table class="page__signatures">
  <tbody class="page__signatures__body">
    <tr class="page__signatures__body__person">
      <td class="page__signatures__body__person__position">Зав. кафедрой</td>
      <td class="page__signatures__body__person__freeplace"></td>
      <td class="page__signatures__body__person__name">
        <%= @group.decanus %>
        <div class="page__signatures__body__person__name__helper">Фамилия И.О.</div>
      </td>
    </tr>
    <tr class="page__signatures__body__person">
      <td class="page__signatures__body__person__position">Куратор</td>
      <td class="page__signatures__body__person__freeplace"></td>
      <td class="page__signatures__body__person__name">
        <%= @group.supervisor %>
        <div class="page__signatures__body__person__name__helper">Фамилия И.О.</div>
      </td>
    </tr>
    <tr class="page__signatures__body__person">
      <td class="page__signatures__body__person__position">Зам. декана факультета по <%= @group.course %> курсу</td>
      <td class="page__signatures__body__person__freeplace"></td>
      <td class="page__signatures__body__person__name">
        <%= @group.zamdecanus %>
        <div class="page__signatures__body__person__name__helper">Фамилия И.О.</div>
      </td>
    </tr>
  </tbody>
</table>

</div>

<!-- Страница 2 -->

<div class="page page_A4page">

<div class="page__university">
  Московский государственный технический университет им. Н.Э. Баумана
</div>
<h2 class="page__title">
  Приложение к отчёту
</h2>

<div class="page__subheader">
  о проведении смотра академической успеваемости в группе <%= @group.title %>
</div>

<% d = @report[:date].to_date %>
<time datetime="<%=d.iso8601%>" pubdate="pubdate" class="page__date">
  <% months = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'] %>
  от “<%= d.day %>” <%= months[d.month-1] %> <%= d.year %>г.
</time>

<div class="page__timebounds">
  Срок представления отчета декану факультета <b><%= @group.faculty %></b>: <u>&nbsp;&nbsp; <%= months[d.month-1]%> <%= d.year %> г.</u>
</div>

<ul class="page__stat">
  <li class="page__stat__item">Выполнение учебного графика и посещения занятий студентами группы:</li>
</ul>

<table class="page__table">
  <thead class="page__table__head">
    <tr class="page__table__head__row">
      <th class="page__table__head__row__col page__table__num">N<br/>п/п</th>
      <th class="page__table__head__row__col page__table__fam">Фамилия И.О.</th>
      <th class="page__table__head__row__col" colspan="2">
        Пропущено: лекций, упражнений, семинаров
        <span class="page__table__head__row__col__helper">
          [час] / [%]
        </span>
      </th>
      <th class="page__table__head__row__col">
        Пропущено: лаб. работ
        <span class="page__table__head__row__col__helper">
          [количество работ]
        </span>
      </th>
      <th class="page__table__head__row__col">
        % Выполнения проекта (работы) по курсу:
      </th>
      <th class="page__table__head__row__col">
        Выполнение учебного графика (на дату проведения смотра)
        <span class="page__table__head__row__col__helper">
          [%]
        </span>
      </th>
      <th class="page__table__head__row__col">
        Причины пропуска занятий и невыполнения учебного графика
      </th>
    </tr>
  </thead>
  <tbody class="page__table__body">
    <% @students.each.with_index do |student, i| %>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num">
        <%= i + 1 %>
      </td>
      <td class="page__table__body__row__col page__table__fam">
        <%= student['last_name'] %>
        <%= student['first_name'][0] %>.
        <%= student['middle_name'][0] %>.
      </td>
      <td class="page__table__body__row__col page__table__body__row__col_h">
        <%= student['absense_num'] * 2 %>
      </td>
      <td class="page__table__body__row__col page__table__body__row__col_p">
        <%= student['absense_perc'].round(0) %>%
      </td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"><%= student['percentage'].round(0) %></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <% end
    i=0
    while i<20-@students_num do %>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
    <% i+=1
    end %>
    <tr class="page__table__body__row">
      <td class="page__table__body__row__col page__table__num"></td>
      <td class="page__table__body__row__col page__table__fam"><i>В среднем по группе:</i></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
      <td class="page__table__body__row__col"></td>
    </tr>
  </tbody>
</table>

<ul class="page__stat">
  <li class="page__stat__item">
    Учёт выполнения учебного графика и посещаемости занятий ведётся (не ведётся): <u>ведётся</u>
  </li>
  <li class="page__stat__item">
    Замечания зав. кафедрой, куратора, преподавателей и заместителя декана факультета по организации учебного процесса:
    <div class="page__stat__item__writing"></div>
    <div class="page__stat__item__writing"></div>
    <div class="page__stat__item__writing"></div>
  </li>
</ul>

<table class="page__signatures">
  <tbody class="page__signatures__body">
    <tr class="page__signatures__body__person">
      <td class="page__signatures__body__person__position">Зав. кафедрой</td>
      <td class="page__signatures__body__person__freeplace"></td>
      <td class="page__signatures__body__person__name">
        <%= @group.decanus %>
        <div class="page__signatures__body__person__name__helper">Фамилия И.О.</div>
      </td>
    </tr>
    <tr class="page__signatures__body__person">
      <td class="page__signatures__body__person__position">Куратор</td>
      <td class="page__signatures__body__person__freeplace"></td>
      <td class="page__signatures__body__person__name">
        <%= @group.supervisor %>
        <div class="page__signatures__body__person__name__helper">Фамилия И.О.</div>
      </td>
    </tr>
    <tr class="page__signatures__body__person">
      <td class="page__signatures__body__person__position">Зам. декана факультета по <%= @group.course %> курсу</td>
      <td class="page__signatures__body__person__freeplace"></td>
      <td class="page__signatures__body__person__name">
        <%= @group.zamdecanus %>
        <div class="page__signatures__body__person__name__helper">Фамилия И.О.</div>
      </td>
    </tr>
  </tbody>
</table>

</div>

