<div class="entity">

<h1 class="entity__title"><%= @group.title %></h1>

  <%= link_to 'Timetable', {controller: :schedule, action: :read}, {class: 'button_control'} %>
<% if current_user.admin? %>
  <%= link_to 'Редактировать', {action: :view_update}, {class: 'button button_ok'} %>
  <%= link_to 'Провести смотр', {action: :create, controller: :report}, {class: 'button_control'} %>
  <%= link_to 'Приглашения', {action: :list, controller: :invitation}, {class: 'button_control'} %>
<% end %>

<div class="entity__subtitle">
  <%= @group.faculty_name %>
</div>

<div class="entity__subtitle">
  <%= @group.cathedra_name %>
</div>

<div>
  Куратор: <%= @group.supervisor %><br/>
  Декан: <%= @group.decanus %><br/>
  Зам. декана: <%= @group.zamdecanus %><br/>
</div>

<h2 class="entity__section">Disciplines</h2>
<div class="entity__list"%>
  <% @group.disciplines.each do |discipline| %>
    <div class="entity__list__material">
      <%= render partial: 'discipline/smallest', locals: {discipline: discipline} %>
    </div>
  <% end %>
</div>


</div>
