<div class="entity">

<hgroup>

<div class="entity__title">
  <h1><%= @group.title %></h1>
</div>

<% if current_user.admin? %>
  <%= link_to 'Редактировать', {action: :view_update}, {class: 'button button_ok'} %>
  <%= link_to 'Провести смотр', {action: :create, controller: :report}, {class: 'button_control'} %>
<% end %>

<div class="entity__subtitle">
  <%= @group.faculty_name %>
</div>

<div class="entity__subtitle">
  <%= @group.cathedra_name %>
</div>

</hgroup>

<h2 class="group__subitem">Disciplines</h2>
<div class="group__disciplines"%>
  <% @group.disciplines.each do |discipline| %>
    <div class="group__disciplines__item">
      <%= render partial: 'discipline/smallest', locals: {discipline: discipline} %>
    </div>
  <% end %>
</div>


</div>
