<div class="entity">
<h1 class="entity__title">Upload your materials</h1>

<%= form_for :material,
  html: {
    method: 'POST',
    multipart: true,
    class: 'entity__form',
    id: 'material_form'
    }, remote: true do |form| %>

  <div class="entity__form__input-group">
    <%= form.label :title,
        class: "entity__form__input-group__control_label" %>
    <%= form.text_field :title,
        class: "entity__form__input-group__control_string",
        value: "My material" %>
    <div id="material_title_err" class="entity__form__input-group__err"></div>
  </div>

  <div class="entity__form__input-group">
    <%= form.label :description,
        class: "entity__form__input-group__control_label" %>
    <%= form.text_area :description, value: "Hello, world!",
        class: "entity__form__input-group__control_text" %>
    <div id="material_description_err" class="entity__form__input-group__err"></div>
  </div>

  <div class="entity__form__input-group">
    <%= form.label :discipline,
        class: "entity__form__input-group__control_label" %>
    <%= form.select :discipline_id,
        options_from_collection_for_select(Discipline.all, :id, :name),
        include_blank: "None",
        class: "entity__form__input-group__control_select" %>
    <div id="material_discipline_id_err" class="entity__form__input-group__err"></div>
  </div>

  <div class="entity__form__input-group">
    <%= form.file_field :document,
        class: "entity__form__input-group__control_file" %>
    <div id="material_document_err" class="entity__form__input-group__err"></div>
  </div>

  <%= form.submit "Upload file", class: 'button_ok' %>
<% end %>
</div>
