<div class="entity">

  <h1 class="entity__title"><%= @mat.title %></h1>
  <%= link_to 'Download', @mat.document.url, class: 'button_ok' %>

  <% if current_user == @mat.user || current_user.admin? %>
  <%= link_to 'Edit',
      {action: :view_update, id: @mat.id},
      class: 'button_control' %>
  <%= link_to 'Delete',
      {action: :delete, id: @mat.id},
      class: 'button_red' %>
  <% end %>

  <div class="entity__content"><%= @mat.description %></div>

  Uploader: <%= @mat.user.name %>

</div>





