<!DOCTYPE html>
<html>
<head>
  <title>Groupapp</title>
  <link rel="search"
           type="application/opensearchdescription+xml"
           href="/extras/opensearch.xml"
           title="Materials and articles search" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="app">
    <div class="app__wrapper">
      <div class="app__wrapper__topwrapper">
        <header class="app__wrapper__topwrapper__topbar">
          <nav class="app__wrapper__topwrapper__topbar__menu">
            <a class="app__wrapper__topwrapper__topbar__menu__main"><%= Group.first.title %></a>
            <ul class="app__wrapper__topwrapper__topbar__menu__list">
              <li class="app__wrapper__topwrapper__topbar__menu__list__item"><%= link_to 'Timetable', controller: :schedule, action: :read %></li>
              <li class="app__wrapper__topwrapper__topbar__menu__list__item"><%= link_to 'About group', controller: :group, action: :view %></li>
              <li class="app__wrapper__topwrapper__topbar__menu__list__item"><%= link_to 'Files', controller: :materials, action: :list_materials %></li>
              <li class="app__wrapper__topwrapper__topbar__menu__list__item"><%= link_to 'Publications', controller: :article, action: :listArticles %></li>
              <li class="app__wrapper__topwrapper__topbar__menu__list__item"><%= link_to 'Disciplines', controller: :discipline, action: :listDisciplines %></li>
            </ul>
          </nav>

          <%= form_tag("/search", method: "get", class: "app__wrapper__topwrapper__topbar__search") do %>
            <%= text_field_tag :q, nil, class: "app__wrapper__topwrapper__topbar__search__input" %>
            <%= button_tag "Search", class: "app__wrapper__topwrapper__topbar__search__submit" %>
          <% end %>

          <% if logged_in? %>
          <div class="app__wrapper__topwrapper__topbar__userbar">

            <%= link_to controller: :user,
                  action: 'read',
                  id: current_user.id,
                class: "app__wrapper__topwrapper__topbar__userbar__name" do %>
                <img class="app__wrapper__topwrapper__topbar__userbar__picture" width="40" height="40"
              src="http://lorempixel.com/40/40/people/"/>
                <%= current_user.name %>
            <% end %>

            <%= link_to ' ', {controller: 'user', action: 'logout'},
                class: 'app__wrapper__topwrapper__topbar__userbar__logout fa fa-key' %>
          </div>
          <% end %>
        </header>
      </div>
      <div class="app__wrapper__content">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
